*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: "맑은 고딕";
    color: white;
}
html,body{
    width: 100%;
    height: 100%;
    font-size: 20px;
    transition: transform 0.5s;
}
body{
    -ms-overflow-style: none;
}
::-webkit-scrollbar{
    display: none;
}
a{
    text-decoration: none;
    display: block;
}
header{
    background: url("../images/도로.jpg");
    background-size: cover;
    background-position: 100%;
    height: 100%;
}
.wrap{
    width: 1800px;
}
.logo{
    float: left;
    width: 250px;
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
}
.logo>a{
    margin-top: 34px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.menu{
    float: right;
    width: 800px;
    height: 100px;
}
.navi{
    float: right;
    margin-top: 34px;
}
.navi>li{
    float: left;
}
.navi>li>a{
    width: 180px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}
.navi>li>a:hover{
    font-weight: bold;
}
button{
    background: none;
    border: none;
    font-size: 20px;
}
.con1{
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    padding-top: 200px;
}
.con2{
    background: url("../images/은하수.jpg");
    background-size: cover;
    background-position: 100% 70%;
    height: 100%;
    font-size: 100px;
}
.con2>a{
    padding: 200px;
}